In [64]:
import pandas as pd
import numpy as np
passing = pd.read_csv("passing.csv", header=[0,1])
rush_and_receive = pd.read_csv("rushing-and-receiving.csv", header=[0,1])
def_and_fumble = pd.read_csv("defense_and_fumble.csv", header=[0,1])
kp_returns = pd.read_csv("kick_and_punt_returns.csv", header=[0,1])

In [66]:
passing.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Passing       \
                  Rk             Player                  G     Cmp  Att
0                  1        Quinn Ewers                 12     272  394
1                  2      Maalik Murphy                  7      40   71
2                  3       Arch Manning                  2       2    5
3                  4      Xavier Worthy                 14       1    2
4                  5         Savion Red                 12       1    1

                                               -additional
     Pct   Yds   Y/A  AY/A  TD Int   Rate            -9999
0   69.0  3479   8.8   9.3  22   6  158.6    quinn-ewers-1
1   56.3   477   6.7   5.7   3   3  118.3  maalik-murphy-1
2   40.0    30   6.0   6.0   0   0   90.4   arch-manning-1
3   50.0    35  17.5  17.5   0   0  197.0  xavier-worthy-1
4  100.0    25  25.0  25.0   0   0  310.0     savion-red-1

In [61]:
rush_and_receive.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Rushing          \
                  Rk             Player                  G     Att     Yds
0                  1    Jonathon Brooks                 11   187.0  1139.0
1                  2          CJ Baxter                 13   138.0   659.0
2                  3        Jaydon Blue                 14    65.0   398.0
3                  4        Quinn Ewers                 12    59.0    75.0
4                  5         Savion Red                 12    30.0   131.0

             Receiving                   Scrimmage                 \
   Avg    TD       Rec    Yds   Avg   TD     Plays   Yds  Avg  TD
0  6.1  10.0      25.0  286.0  11.4  1.0       212  1425  6.7  11
1  4.8   5.0      24.0  156.0   6.5  0.0       162   815  5.0   5
2  6.1   3.0      14.0  135.0   9.6  1.0        79   533  6.7   4
3  1.3   5.0       1.0    3.0   3.0  0.0        60    78  1.3   5
4  4.4   1.0       NaN    NaN   NaN  NaN        30   131  4.4   1

         -additional
               -9999
0  jonathon-brooks-1
1        cj-baxter-1
2      jaydon-blue-1
3      quinn-ewers-1
4       savion-red-1

In [62]:
def_and_fumble.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Tackles           \
                  Rk             Player                  G    Solo Ast  Tot
0                  1        Jaylan Ford                 14      47  54  101
1                  2   Anthony Hill Jr.                 14      40  27   67
2                  3      Jahdae Barron                 14      32  28   60
3                  4       David Gbenda                 14      23  27   50
4                  5     Michael Taaffe                 14      28  20   48

             Def Int                       Fumbles                 \
   Loss   Sk     Int   Yds   Avg   TD   PD      FR  Yds   TD   FF
0  10.5  1.0     2.0   5.0   2.5  0.0  2.0     1.0  0.0  0.0  1.0
1   8.0  5.0     NaN   NaN   NaN  NaN  2.0     NaN  NaN  NaN  1.0
2   4.5  0.0     1.0  16.0  16.0  0.0  6.0     1.0  0.0  0.0  0.0
3   3.5  1.5     NaN   NaN   NaN  NaN  1.0     NaN  NaN  NaN  NaN
4   2.5  0.0     3.0  45.0  15.0  0.0  2.0     NaN  NaN  NaN  NaN

         -additional
               -9999
0      jaylan-ford-1
1  anthony-hill-jr-1
2    jahdae-barron-1
3     david-gbenda-1
4   michael-taaffe-1

In [65]:
kp_returns.head()

  Unnamed: 0_level_0  Unnamed: 1_level_0 Unnamed: 2_level_0 Kick Ret         \
                  Rk              Player                  G      Ret    Yds
0                  1     Keilan Robinson                 13     22.0  494.0
1                  2         Jaydon Blue                 14      3.0   80.0
2                  3          Savion Red                 12      2.0   29.0
3                  4  Jordan Whittington                 14      2.0   18.0
4                  5   DeAndre Moore Jr.                  9      1.0   15.0

             Punt Ret                          -additional
    Avg   TD      Ret  Yds  Avg   TD                 -9999
0  22.5  1.0      NaN  NaN  NaN  NaN     keilan-robinson-1
1  26.7  0.0      NaN  NaN  NaN  NaN         jaydon-blue-1
2  14.5  0.0      NaN  NaN  NaN  NaN          savion-red-1
3   9.0  0.0      1.0  3.0  3.0  0.0  jordan-whittington-2
4  15.0  0.0      NaN  NaN  NaN  NaN    deandre-moore-jr-1